body{
    background-color:rgb(84, 153, 199);
  }
  
  
  p{
    color:black;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
   
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  
  a:hover{
    color:orange;
    
  }
  
  
  img{
    width: 30%;
    height: 60%;
    
  }
  .second{
    flex-wrap:wrap;
    display:flex;
  }
  .class{
    width:33%;
    height:200px;
  }
  .last{
    text-align:center;
    font-style:italic;
    margin-top:20%;
  }